<!DOCTYPE html>
<html lang="en">
<head>
	<title>About WebCpp</title>
	
	<meta charset="utf-8" />
	<meta name="robots" content="noindex, nofollow" />
	
	<link rel="icon" type="image/png" href="/sys/images/webcpp-favicon.png" />
	
	<link rel="stylesheet" href="/sys/css/about.css" />
</head>
<body>
	<main>
		<header>
			<a href="http://www.webcpp.org/">
				<strong>WebCpp<span>.org</span></strong>
				<em>A C++ Web development framework</em>
			</a>
		</header>
		
		<p>This website uses WebCpp, a C++ Web development framework.</p>
		
		<table>
			<tr>
				<th>Property</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>WebCpp version</td>
				<td>{webcppVersion}</td>
			</tr>
			<tr>
				<td>HTTP server</td>
				<td>{httpServer}</td>
			</tr>
			<tr>
				<td>Absolute path to site</td>
				<td><code>{absolutePath}</code></td>
			</tr>
			<tr>
				<td>Run directory</td>
				<td><code>{runDir}</code></td>
			</tr>
		</table>
		
		<p id="links">
			<a href="/sys/manager/" id="manager">WebCpp manager</a>
			<a href="http://www.webcpp.org/" id="website">www.webcpp.org</a>
		</p>
	</main>
</body>
</html>