/Makefile
/WebCpp.pro.user*
.directory
.dep.inc
*.swp
*.so
/Tools/
/Tests/
/Release/
/Doc/html/

/Debug/Logs/
/Debug/Site.so
/Debug/MainRouter.yml
/Debug/WebCpp/WebCpp
/Debug/Mods/
/Debug/Public/
/Debug/Templates/*.html
/Debug/Routes.ini
/Debug/WebCpp/Logs/
/Debug/WebCpp/Config.ini
