
body
{
	font-family: 'DejaVu Sans', 'Trebuchet MS', sans-serif;
	font-size: 13px;
	
	background-color: #DDDDDD;
	background-image: -moz-linear-gradient(top, #EEEEEE 0px, #DDDDDD 80px);
	background-repeat: no-repeat;
	
	cursor: default;
}

body > header
{
	width: 300px;
}
	body > header a
	{
		display: block;
		width: 300px;
		color: black;
		text-decoration: none;
	}
		body > header strong
		{
			display: block;
			
			font-family: Georgia, 'DejaVu Serif', serif;
			font-size: 32px;
			font-style: italic;
			text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.33);
		}
			body > header strong span
			{
				font-size: 16px;
			}
		body > header em
		{
			display: block;
			
			margin-top: 5px;
			margin-left: 25px;
			
			font-style: italic;
			text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
		}

body > section
{
	width: 800px;
	
	margin: auto;
	margin-top: 10px;
	padding: 18px;
	
	background-color: white;
	
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	border-radius: 18px;
}

h1
{
	height: 38px;
	
	margin: 0px;
	margin-left: 10px;
	margin-top: 4px;
	
	padding-top: 10px;
	padding-left: 65px;
	
	font-size: 24px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	
	background-image: url('/sys/images/errors/exception.png');
	background-repeat: no-repeat;
}

h2
{
	font-size: 16px;
	border-bottom: 1px solid silver;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

table
{
	width: 100%;
	
	border-collapse: collapse;
	border: 1px solid black;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
	table th
	{
		background-color: #555555;
		color: white;
	}
	table td
	{
		border: 1px solid silver;
		padding: 2px;
	}

#StackTrace li
{
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: 1px solid silver;
}
	#StackTrace li:first-child
	{ border-top: none; }
	#StackTrace li strong
	{
		display: block;
		font-family: 'DejaVu Sans Mono', 'Courier New', monospace;
		white-space: pre;
	}
	#StackTrace li .location
	{
		margin-left: 15px;
	}
		#StackTrace li .location .source
		{
			font: 11px 'DejaVu Sans Mono', 'Courier New', monospace;
			white-space: pre;
		}
		#StackTrace li .location .line
		{
			font-size: 11px;
			color: #666666;
			margin-left: 8px;
		}
	#StackTrace li .address
	{
		float: right;
		
		position: relative;
		bottom: 16px;
		
		color: gray;
		font: 11px 'DejaVu Sans Mono', 'Courier New', monospace;
	}
	#StackTrace li .object
	{
		clear: right;
		float: right;
		
		position: relative;
		bottom: 14px;
		
		color: gray;
		font-size: 11px;
	}

body > footer
{
	margin-top: 30px;
	
	text-align: center;
	font-size: 11px;
	color: #888888;
}
